
@model IEnumerable<HSVersion1.Models.Promotion>

@{
    ViewBag.Title = "IndexPartial";
}

<h2>Promotions</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Manager"))
    {
        <p>
            @Html.ActionLink("Create New", "New", "Promotions")
        </p>
    }
}

    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
    </tr>

    <ul>
        @foreach (var promotions in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => promotions.Shop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => promotions.Deal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => promotions.Time)
                </td>
            </tr>

            if (User.Identity.IsAuthenticated)
             {
                 if (User.IsInRole("Manager"))
                 {
                     <td>
                         @Html.ActionLink("Edit", "Edit", new {id = promotions.Id}) |
                         @Html.ActionLink("Delete", "Delete", new {id = promotions.Id})
                     </td>
                 }
             }
        }
    </ul>

</table>
